# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

creds/*
.terraform/*
*~
vendor/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
*vendor*/

Gopkg.lock
Gopkg.toml


